.flexbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}

img {
  outline: 0;
  max-width: 100%;
  height: auto;
}

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;

    outline: 1px solid transparent;
    position: relative;
}


.flip-container.show .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
  /*
    width: 150px;
    height: 200px;
  */
  width: 22.6%;
}

.flipper {
    margin-top: 5px;
    margin-bottom: 20px;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
  width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 1;
  width: 100%
}

.back {
    z-index: 2;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
