<h1 class="text-center text-danger" style="margin-top: 18pt;">Klasskampskompassen</h1>

<div class="row lead text-center" style="margin-bottom: 20pt;">
  <span class="glyphicon glyphicon-star text-danger" style="top: 3px;"></span>
  <span class="glyphicon glyphicon-star text-danger" style="top: 3px;"></span>
  <span class="glyphicon glyphicon-star text-danger" style="top: 3px;"></span>
  <br/>
  <br/>

  Bla bla .. någon intressant kort intro av sidan som fångar intresse
  och berättar om vad sidan är för något. Max en mening eller två.
</div>

<div class="row">
  <div class="col-sm-4 bg-error">
    <p class="h3 text-danger" style="margin-top: 0px;">
      <span class="glyphicon glyphicon-star" style="top: 3px;"></span>
      Allt åt Alla
    </p>
    <p>
      Här finns information om den borgliga miljön, om borgarextremism
      och om farorna med reformism och klassamarbete. Vi tipsar om
      tecken att vara uppmärksam på och som kan tyda på att undommar är
      på väg att glida in i den skadliga partipolitiska miljön istället
      och åtgärder för att inspirera till revolutionär kamp.
    </p>
  </div>
  <div class="col-sm-4 text-center">
    <br />
    <br />
    <img class="img-responsive" src="images/compass.png" alt="Kompass"><br>
  </div>
  <div class="col-sm-4 text-right">
    <p class="h3 text-danger" style="margin-top: 0px;">
      Informationsmaterial
    </p>

    <ul class="list-unstyled">
      <li><a ng-click="scrollTo(neolib);">
          Den nyliberala miljön
      </a></li>
      <li><a ng-click="scrollTo(extremism);">
          Några borgarextremister
      </a></li>
      <li><a ng-click="scrollTo(intro);">
          Vägen in; entreprenörskap
      </a></li>
    </ul>
    <br/>
    <ul class="list-unstyled">
      <li><a ng-click="scrollTo(aaa);">
          Om Allt åt alla
      </a></li>
      <li><a ng-click="scrollTo(dict);">
          Revolutionär ordlista
      </a></li>
    </ul>

  </div>
</div>

<div class="row lead text-center" >
  <hr/>
  <span class="glyphicon glyphicon-star text-danger" style="top: 3px;"></span>
  <span class="glyphicon glyphicon-star text-danger" style="top: 3px;"></span>
  <span class="glyphicon glyphicon-star text-danger" style="top: 3px;"></span>
  <hr/>
</div>

<div id="{{neolib.tag}}"></div>
<p ng-click="neolib.expanded = !neolib.expanded">
  <span class="glyphicon"
        ng-class="{'glyphicon-chevron-down': !neolib.expanded, 'glyphicon-chevron-right': neolib.expanded}"
        style="top: -1px;">
  </span>
  &nbsp;
  <span class="h3">Den nyliberala miljön</span>
</p>
<p ng-show="neolib.expanded">
  Bla, bla bla... lorem ipsum, etc..
</p>

<hr/>

<div id="{{extremism.tag}}"></div>
<p ng-click="extremism.expanded = !extremism.expanded">
  <span class="glyphicon"
        ng-class="{'glyphicon-chevron-down': !extremism.expanded, 'glyphicon-chevron-right': extremism.expanded}"
        style="top: -1px;">
  </span>
  &nbsp;
  <span class="h3">
    Borgarextremism
  </span>
</p>
<p ng-show="extremism.expanded">
  Bla, bla bla... lorem ipsum, etc..
</p>

<hr/>

<div id="{{intro.tag}}"></div>
<p ng-click="intro.expanded = !intro.expanded">
  <span class="glyphicon"
        ng-class="{'glyphicon-chevron-down': !intro.expanded, 'glyphicon-chevron-right': intro.expanded}"
        style="top: -1px;">
  </span>
  &nbsp;
  <span class="h3">
    Vägen in i den borgliga miljön
  </span>
</p>
<p ng-show="intro.expanded">
  Entreprenörskap, konsumism, chefskariär...
</p>

<hr/>

<div id="aaa"></div>
<p ng-click="aaa.expanded = !aaa.expanded">
  <span class="glyphicon"
        ng-class="{'glyphicon-chevron-down': !aaa.expanded, 'glyphicon-chevron-right': aaa.expanded}"
        style="top: -1px;">
  </span>
  &nbsp;
  <span class="h3">
    Om Allt åt alla
  </span>
</p>
<p ng-show="aaa.expanded">
  Platform, praktik, länkar
</p>

<hr/>

<div id="dict"></div>
<p ng-click="dict.expanded = !dict.expanded">
  <span class="glyphicon"
        ng-class="{'glyphicon-chevron-down': !dict.expanded, 'glyphicon-chevron-right': dict.expanded}"
        style="top: -1px;">
  </span>
  &nbsp;
  <span class="h3">
    Revolutionär Ordlista
  </span>
</p>
<div ng-show="dict.expanded">
  <dl class="dl-horizontal">
    <dt>Revolutionär</dt>
    <dd>lorem ipsum, fubar, tralalalla mer om ordet</dd>
    <dt>Våldsbejakande</dt>
    <dd>
      Politiskt motiverat nyspråk som används av staten mot
      revolutionära rörelser i repressivt syfte. Har inget med våld att
      göra.
    </dd>
    <dt>Militans</dt>
    <dd>lorem ipsum, fubar, tralalalla mer om ordet</dd>
  </dl>
</div>
