<h1 class="text-center">Klasskampskompassen</h1>

<div class="row lead text-center">
  <span class="glyphicon glyphicon-star" style="top: 3px;"></span>
  <span class="glyphicon glyphicon-star" style="top: 3px;"></span>
  <span class="glyphicon glyphicon-star" style="top: 3px;"></span>
  <br/>
  <br/>

  Bla bla .. någon intressant kort intro av sidan som fångar intresse
  och berättar om vad sidan är för något. Max en mening eller två.
</div>

<div class="row">
  <div class="col-sm-4 bg-error">
    <p class="h3 text-danger" style="margin-top: 0px;">
      <span class="glyphicon glyphicon-star" style="top: 3px;"></span>
      Allt åt Alla
    </p>
    <p>
      Här finns information om den borgliga miljön, om borgarextremism
      och om farorna med reformism och klassamarbete. Vi tipsar om
      tecken att vara uppmärksam på och som kan tyda på att undommar är
      på väg att glida in i den skadliga partipolitiska miljön istället
      och åtgärder för att inspirera till revolutionär kamp.
    </p>
  </div>
  <div class="col-sm-4 text-center">
    <br />
    <br />
    <img class="img-responsive" src="images/compass.png" alt="Kompass"><br>
  </div>
  <div class="col-sm-4 text-right">
    <p class="h3 text-danger" style="margin-top: 0px;">
      Informationsmaterial
    </p>

    <ul class="list-unstyled">
      <li><a href="">Den nyliberala miljön</a></li>
      <li><a href="">Några borgarextremister</a></li>
      <li><a href="">Vägen in; entreprenörskap</a></li>
      <hr/>
      <li><a href="">Om Allt åt alla</a></li>
      <li><a href="">Revolutionär ordlista</a></li>
    </ul>

  </div>
</div>
<h3>Den nyliberala miljön</h3>
<p>
  Bla, bla bla... lorem ipsum, etc..
</p>

<h3>Borgarextremister</h3>
<p>
  Bla, bla bla... lorem ipsum, etc..
</p>

<h3>Vägen in i den borgliga miljön</h3>
<p>
  Entreprenörskap, konsumism, chefskariär...
</p>

<h3>Om Allt åt alla</h3>
<p>
  Platform, praktik, länkar
</p>

<h3>Revolutionär Ordlista</h3>
<dl class="dl-horizontal">
  <dt>Revolutionär</dt>
  <dd>lorem ipsum, fubar, tralalalla mer om ordet</dd>
  <dt>Våldsbejakande</dt>
  <dd>politiskt motiverat nyspråk som används av staten mot
  revolutionära rörelser i repressivt syfte. Har inget med våld att
    göra.</dd>
  <dt>Militans</dt>
  <dd>lorem ipsum, fubar, tralalalla mer om ordet</dd>
</dl>
