<h1 class="text-center text-danger" style="margin-top: 18pt;">Extremistmemory</h1>

<div class="row lead text-center" style="margin-bottom: 20pt;">
  <span class="glyphicon glyphicon-star text-danger" style="top: 3px;"></span>
  <span class="glyphicon glyphicon-star text-danger" style="top: 3px;"></span>
  <span class="glyphicon glyphicon-star text-danger" style="top: 3px;"></span>
  <br/>
  <br/>

  Bla bla .. någon intressant kort intro av sidan som fångar intresse
  och berättar om vad sidan är för något. Max en mening eller två.
</div>

<div class="row" ng-repeat="row in cards">
  <div class="col-xs-3" ng-repeat="card in row">
    <a ng-click="flip(card)">
      <img class="img-responsive" ng-src="{{card.img}}" style="margin-top: 15pt;"</img>
    </a>
  </div>
</div>
